    <h2 style="text-align: center;">Featured Tweets</h2>
    <div class="container-fluid">
      <div class="row">

          <% @tweets.each do |tweet| %>

            <div class="col-lg-3 col-md-4 col-sm-8 col-xs-10">
              <div class="thumbnail" style="height: 242px; width: 300px;">

                  <p><%= tweet.message.html_safe %></p>
                  <p>Created by: <%= link_to tweet.user.username, show_user_path(id: tweet.user_id) %></p>

                  <div class="caption" style="text-align: center; position: absolute; bottom: 20px; left: 60px;">
                    <%= link_to 'Show', tweet, class: 'btn btn-info' %>
                    <%= link_to 'Edit', edit_tweet_path(tweet), class: 'btn btn-warning' %>
                    <%= link_to 'Destroy', tweet, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div><!-- caption -->

                </div><!-- thumbnail -->
            </div><!-- col-md-3 -->
          <% end %>

      </div><!-- row -->

  </div><!-- container-fluid -->