  <div class="text-center">
    <h1><%= current_user.username %>'s Twitter Feed</h1>
      <div style="text-align: center;">

        <p>Name: <%= current_user.name %></p>

        <% if !current_user.location.empty? %>
          <p>Location: <%= current_user.location %></p>
        <% end %>

        <% if !current_user.bio.empty? %>
          <p>Bio: <%= current_user.bio %></p>
        <% end %>
      </div>

    <!-- <p>Number of Tweets: <%#= Tweet.all.where(:user_id => current_user.id).count %></p> -->
    <!-- <p>Number of Users Following: <%#= User.find_by_id(current_user.id).following.count %></p> -->
    <button class="btn btn-info" type="button">Tweets <span class="badge"><%= Tweet.all.where(:user_id => current_user.id).count %></span></button>
    <!-- <a href="#">Tweets <span class="badge"><%#= Tweet.all.where(:user_id => current_user.id).count %></span></a> -->
    <!-- <a href="#">Following <span class="badge"><%#= User.find_by_id(current_user.id).following.count %></span></a> -->
    <button class="btn btn-info" type="button">Following <span class="badge"><%= link_to User.find_by_id(current_user.id).following.count, following_path(id: current_user.id) %></span></button>

    <% follower_cnt = 0 %>
    <% User.all.each do |x| %>
      <% if x.following.include?("id" => current_user.id.to_s) %>
            <% follower_cnt += 1 %>
      <% end %>
    <% end %>
    <!-- <p>Number of Followers: <%= follower_cnt %></p> -->
    <!-- <a href="#">Followers <span class="badge"><%= follower_cnt %></span></a> -->
    <button class="btn btn-info" type="button">Followers <span class="badge"><%= link_to follower_cnt, followers_path(id: current_user.id) %></span></button>
    <hr>
    <p>Here is what your "friends" are saying:</p>
  </div>

  <div class="container-fluid" style="font-family: 'Raleway', 'sans-serif'; font-size: 16px;">
    <div class="row">
      <div class="col-md-6 col-md-offset-4
                  col-sm-8 col-md-offset-2
                  col-xs-10 col-xs-offset-1">

        <div>
          <% @following_tweets.each do |tweet| %>
            <div class="well">
              <p>
                <%= image_tag tweet.user.avatar.url, class: 'user-pic-nav img-responsive' %>
                <%= link_to tweet.user.name, show_user_path(id: tweet.user_id) %>
                @<%= link_to tweet.user.username, show_user_path(id: tweet.user_id) %>
                <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %>
                <%= tweet.created_at.strftime('%b%e') if Time.now - tweet.created_at > 86400 %>
              </p>

              <p>
                <%= tweet.message.html_safe %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>